{% block extends %}
{{ "{% extends 'LynxBundle::baseForm.html.twig' %}" }}
{% endblock extends %}

{{ "{% form_theme edit_form 'LynxBundle:Form:fields.html.twig' %}" }}
{{ "{% block page_title %}" }}{{ "{{ 'Editar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block form_title %}" }}{{ "{{ 'Editar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}

{{ "{% block breadcrumb %}" }}    
    <li><a href="{{ "{{ path('admin') }}" }}" title="{{ "{{ 'Tablero'|trans }}" }}">{{ "{{ 'Tablero'|trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" title="{{ "{{ '" ~ entity ~ "'|trans }}" }}">{{ "{{ '" ~ entity ~ "'|trans }}" }}</a></li>
    <li><a><strong>{{ "{{ 'Editar " ~ entity ~ "'|trans }}" }}</strong></a></li>    
{{ "{% endblock %}" }}

{% block body %}
    {{ "{% block body %}" }}

    {{ "{% for flashMessage in app.session.flashbag.get('notice') %}" }}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ "{{ flashMessage|trans }}" }}
    </div>
    {{ "{% endfor %}" }}

    <div class="row ">
        <div class="ibox ">
            <div class="ibox-content">  
                <p>{{ "{{ 'Los campos marcados con'|trans }}" }} <span class="text-danger" style="font-weight: bold">*</span> {{ "{{ 'son obligatorios'|trans }}" }}</p>
                <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" method="post">
                    <input type="hidden" name="_method" value="POST" />
                    {{ "{{ form_widget(edit_form, {'form_type': 'horizontal'}) }}" }}
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            {% set hide_edit, hide_delete = true, true %}
                            {% include 'crud/views/others/record_actions.html.twig.twig' %}
                            <button type="submit" class="btn btn-primary">{{ "{{ 'Guardar'|trans }}" }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
