{% block extends %}
{{ "{% extends 'LynxBundle::baseForm.html.twig' %}" }}
{% endblock extends %}

{{ "{% form_theme form 'LynxBundle:Form:fields.html.twig' %}" }}
{{ "{% block page_title %}" }}{{ "{{ 'Agregar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block form_title %}" }}{{ "{{ 'Agregar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}

{{ "{% block breadcrumb %}" }}
    <li><a href="{{ "{{ path('admin') }}" }}" title="{{ "{{ 'Tablero'|trans }}" }}">{{ "{{ 'Tablero'|trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" title="{{ "{{ '" ~ entity ~ "'|trans }}" }}">{{ "{{ '" ~ entity ~ "'|trans }}" }}</a></li>
    <li><a><strong>{{ "{{ 'Agregar " ~ entity ~ "'|trans }}" }}</strong></a></li>
{{ "{% endblock %}" }}

{% block body %}
    {{ "{% block body %}" }}
    <div class="row ">
        <div class="ibox ">
            <div class="ibox-content">
                <p>{{ "{{ 'Los campos marcados con'|trans }}" }} <span class="text-danger" style="font-weight: bold">*</span> {{ "{{ 'son obligatorios'|trans }}" }}</p>
                <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" method="post">
                    {{ "{{ form_widget(form, {'form_type': 'horizontal'}) }}" }}
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            {% set hide_edit, hide_delete = true, true %}
                            {% include 'crud/views/others/record_actions.html.twig.twig' %}
                            <button type="submit" class="btn btn-primary">{{ "{{ 'Crear'|trans }}" }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
