{% block extends %}
{{ "{% extends 'LynxBundle::baseForm.html.twig' %}" }}
{% endblock extends %}

{{ "{% block page_title %}" }}{{ "{{ '" ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block form_title %}" }}{{ "{{ '" ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}

{{ "{% block breadcrumb %}" }}
    <li><a href="{{ "{{ path('admin') }}" }}" title="{{ "{{ 'Tablero'|trans }}" }}">{{ "{{ 'Tablero'|trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" title="{{ "{{ '" ~ entity ~ "'|trans }}" }}">{{ "{{ '" ~ entity ~ "'|trans }}" }}</a></li>
    <li><a><strong>{{ "{{ '" ~ entity ~ "'|trans }}" }}</strong></a></li>
{{ "{% endblock %}" }}

{% block body %}
    {{ "{% block body %}" }}

    {{ "{% for flashMessage in app.session.flashbag.get('notice') %}" }}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ "{{ flashMessage|trans }}" }}
    </div>
    {{ "{% endfor %}" }}

    <div class="row ">
        <div class="ibox">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <tbody>
                            {%- for field, metadata in fields %}

                            <tr>
                                <th>{{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}</th>

                                {%- if metadata.type in ['date', 'datetime'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                                {%- else %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                {%- endif %}

                            </tr>

                            {%- endfor %}

                        </tbody>
                    </table>
                </div>      
                {% set hide_edit, hide_delete = false, false %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
            </div>
        </div>
    </div>   
    {{ "{% endblock %}" }}
{% endblock body %}
