
    /**
{% block phpdoc_method_header %}
     * Lists all {{ entity }} entities.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function indexAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        $entities = $em->getRepository('{{ bundle }}:{{ entity }}')->findAll{{ entity }}($request->get('page', 1), 10, $request->get('dataSearch'),$request->get('sortField'),$request->get('sortDirection'));
        $results = $entities['results'];
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'entities' => $results,
            'totalItems'=>$entities['totalItems'], 'pagesCount'=>$entities['pagesCount'], 'currentPage' => $request->get('page', 1)
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:index.html.twig', array(
            'entities' => $results,
            'totalItems'=>$entities['totalItems'], 'pagesCount'=>$entities['pagesCount'], 'currentPage' => $request->get('page', 1)
        ));
{% endif %}
{% endblock method_return %}
    }
