<a class="btn" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
    {{ "{{ 'Regresar a la Lista'|trans }}" }}
</a>


{% if ('edit' in actions) and (not hide_edit) %}
    <a class="btn btn-success" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">
       {{ "{{ 'Editar'|trans }}" }}
    </a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" method="post" style="float:right">
        <button class="btn btn-danger" type="submit" onclick="return confirm('¿Seguro que desea borrar este registro?');">{{ "{{ 'Borrar'|trans }}" }}</button>
        <input type="hidden" name="_method" value="DELETE" />
        {{ '{{ form_widget(delete_form) }}' }}
    </form>
{% endif %}
