    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/delete", name="{{ route_name_prefix }}_delete")
     * @Method("POST")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        $form = $this->createDeleteForm($entity);
        $form->handleRequest($request);

        if ($form->isSubmitted() && $form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $entity1 = $em->getRepository('{{ bundle }}:{{ entity }}')->find($entity->getId());

            if (!$entity1) {
                throw $this->get('session')->getFlashBag()->add('error', 'Registro no encontrado e inexistente');
            }

            $em->remove($entity1);
            $em->flush();

            $this->get('session')->getFlashBag()->add('notice', '¡Registro borrado satisfactoriamente!');
        }
{% endblock method_body %}

{% block method_return %}
        return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
{% endblock method_return %}
    }

{% block form %}
    /**
     * Creates a form to delete a {{ entity }} entity by id.
     *
     * @param mixed $entity The entity id
     *
     * @return \Symfony\Component\Form\Form The form
     */
    private function createDeleteForm({{ entity }} $entity)
    {
        return $this->createFormBuilder()
            ->setAction($this->generateUrl('{{ route_name_prefix }}_delete', array('id' => $entity->getId())))
            ->setMethod('DELETE')
            ->getForm()
        ;
    }
{% endblock form %}
