
    /**
{% block phpdoc_method_header %}
     * Finds and displays a {{ entity }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_show")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function showAction({{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        {# block comment #}
            $em = $this->getDoctrine()->getManager();

            $entity1 = $em->getRepository('{{ bundle }}:{{ entity }}')->find($entity);

            if (!$entity1) {
                throw $this->get('session')->getFlashBag()->add('error', 'Registro no encontrado e inexistente');
            }
        {# endblock comment #}
{% if 'delete' in actions %}

        $deleteForm = $this->createDeleteForm($entity1);
{% endif %}
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            'entity'      => $entity,
            'delete_form' => $deleteForm->createView(),
        );
{% endif %}
{% endblock method_return %}
    }
