{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}
{{ "{% form_theme edit_form 'StrappLynxBundle:Form:fields.html.twig' %}" }}
{{ "{% block page_title %}" }}{{ "{{ 'Editar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block main_title %}" }}{{ "{{ 'Editar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{% block body %}
{{ "{% block body %}" }}

    {{ "{% for flashMessage in app.session.flashbag.get('notice') %}" }}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ "{{ flashMessage|trans }}" }}
        </div>
    {{ "{% endfor %}" }}
    <p>{{ "{{ 'Los campos marcados con'|trans }}" }} <span class="text-danger" style="font-weight: bold">*</span> {{ "{{ 'son obligatorios'|trans }}" }}</p>
    <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}" }}" method="post">
        <input type="hidden" name="_method" value="PUT" />
        {{ "{{ form_widget(edit_form, {'form_type': 'horizontal'}) }}" }}
        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ "{{ 'Guardar'|trans }}" }}</button>
                {% set hide_edit, hide_delete = true, true %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
            </div>
        </div>
    </form>

{{ "{% endblock %}" }}
{% endblock body %}
