{% block extends %}
    {{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{{ "{% block page_title %}" }}{{ "{{ '" ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block main_title %}" }}{{ "{{ '" ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}

{% block body %}
{{ "{% block body %}" }}

    {{ "{% set _request_parameters = {  sortField: app.request.get('sortField', 'id'), sortDirection: app.request.get('sortDirection', 'DESC'), page:app.request.get('page')|default('1') } %}" }}

    {{ "{% if app.request.get('dataSearch') %}" }}
        {{ "{% set _request_parameters = _request_parameters|merge({ 'dataSearch': app.request.get('dataSearch')|default('') }) %}" }}
    {{ "{% endif %}" }}


    <div class="row">
        <div class="col-sm-4">{% if 'new' in actions %}<a class="btn btn-success" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">{{ "{{ 'Nuevo " ~ entity ~ "'|trans }}" }}</a>{% endif %}</div>
        <div class="col-sm-8 text-right">{{ "{{ include ('::buscador.html.twig', { 'ruta': path('" ~ route_name_prefix ~ "')})  }}" }}</div>
    </div>
    <div class="clear">&nbsp;</div>
    
    <div class="clear">&nbsp;</div>
    
    {{ "{% for flashMessage in app.session.flashbag.get('error') %}" }}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ "{{ flashMessage|trans }}" }}
        </div>
       {{ "{% endfor %}" }}
        {{ "{% for flashMessage in app.session.flashbag.get('notice') %}" }}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ "{{ flashMessage|trans }}" }}
            </div>
    {{ "{% endfor %}" }}
    
    {{ '{% if entities %}' }}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                
                {{ "{% set isSortingField =  app.request.get('sortField') %}" }}
                
                {{ "{% if isSortingField %}" }}
                    {{ "{% set sortDirection = ('DESC' == app.request.get('sortDirection')) ? 'ASC' : 'DESC' %}" }}
                    {{ "{% set _request_parameters = _request_parameters|merge({ sortField: isSortingField }) %}" }}
                {{ "{% endif %}" }}   
                
                
                {%- for field, metadata in fields %}
                <th>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "', _request_parameters|merge({ sortField: '" ~ field  ~ "', sortDirection : sortDirection|default('DESC') })) }}" }}">
                        {{ "{% if isSortingField=='" ~ field ~ "' and sortDirection == 'DESC' %}" }}
                        <i class="fa fa-caret-up"></i>
                        {{ "{% elseif isSortingField=='" ~ field ~ "' and sortDirection == 'ASC' %}" }}
                            <i class="fa fa-caret-down"></i>
                        {{ "{% else %}" }}
                            <i class="fa fa-sort"></i>
                        {{ "{% endif %}" }}
                        {{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}
                    </a>
                </th>
           
            {%- endfor %}

                <th>{{ "{{ 'Acciones'|trans }}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>
                
        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>
        {{ '{% if pagesCount > 1 %}' }}
            {{ "{{ include ('::paginador.html.twig', { 'ruta': path('" ~ route_name_prefix ~ "')})  }}" }}
        {{ '{% endif %}' }}
    {{ '{% else %}' }}
        <div class="no-records-msg">
            {{ "{{ 'No existen registros'|trans }}" }}
        </div>
    {{ '{% endif %}' }}

    
{{ "{% endblock %}" }}
{% endblock body %}
