{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}
{{ "{% form_theme form 'StrappLynxBundle:Form:fields.html.twig' %}" }}
{{ "{% block page_title %}" }}{{ "{{ 'Agregar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block main_title %}" }}{{ "{{ 'Agregar " ~ entity ~ "'|trans }}" }}{{ "{% endblock %}" }}
{% block body %}
{{ "{% block body %}" }}
    <p>{{ "{{ 'Los campos marcados con'|trans }}" }} <span class="text-danger" style="font-weight: bold">*</span> {{ "{{ 'son obligatorios'|trans }}" }}</p>
    <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post">
        {{ "{{ form_widget(form, {'form_type': 'horizontal'}) }}" }}
        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ "{{ 'Crear'|trans }}" }}</button>
                {% set hide_edit, hide_delete = true, true %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
            </div>
        </div>
    </form>

{{ "{% endblock %}" }}

{% endblock body %}
