{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}
{{ "{% block page_title %}" }}{{ "{{ '" ~ entity ~ ".'|trans }}" }}{{ "{% endblock %}" }}
{{ "{% block main_title %}" }}{{ "{{ '" ~ entity ~ ".'|trans }}" }}{{ "{% endblock %}" }}
{% block body %}
{{ "{% block body %}" }}
    
    {{ "{% for flashMessage in app.session.flashbag.get('notice') %}" }}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ "{{ flashMessage|trans }}" }}
        </div>
    {{ "{% endfor %}" }}
    <table class="record_properties table table-condensed table-hover">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>

    {% set hide_edit, hide_delete = false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
