
{%- for action in record_actions %}

    <a class="btn" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}">{{ "{{ '" ~ action ~ "'|trans }}" }}</a>
{%- endfor %}
